@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TICKET RESERVATION SYSTEM</h1>
    <p class="lead"></p>
    <p>@*<a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>*@</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>About Us</h2>
        <p>
            The Nigerian Railway Corporation is 112 years old and it runs a unilaterally designed track system of 1067mm cape gauge. Only 30km of its track distribution is 
            in double track and that is within Lagos area. Nigerian Railway System actually commenced rail business activities with the construction of the first rail line
            from Lagos to Ibadan (193km) between 1898 and 1901. By 1964 when the construction of 640km kano – Maiduguri rail line, then known as Bornu extension, was completed,
            the present core of the railway network had been put in place. Presently, the Railway system is made up of 3’505 route kilometres and 4332 track kilometres. In addition to this is the 19km 1067mm gauge extension from
        Port-Harcourt to Onne deep sea port and the 277km standard gauge rail construction of 1435mm from Ajaokuta to Warri. Nigerian Railway was transformed from its first and initial name ‘Government Department of Railways’ to NIGERIAN RAILWAY CORPORATION in 1955 through the
        instrumentality of the Statutory Act of Parliament which, apart from changing the name of the railway industry in Nigeria, equally conferred on it absolute
        monopoly as the institution recognised by law to carry out railway services.
        </p>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Presently, the Railway system is made up of 3’505 route kilometres and 4332 track kilometres. In addition to this is the 19km 1067mm gauge extension from 
        Port-Harcourt to Onne deep sea port and the 277km standard gauge rail construction of 1435mm from Ajaokuta to Warri.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Nigerian Railway was transformed from its first and initial name ‘Government Department of Railways’ to NIGERIAN RAILWAY CORPORATION in 1955 through the 
        instrumentality of the Statutory Act of Parliament which, apart from changing the name of the railway industry in Nigeria, equally conferred on it absolute
        monopoly as the institution recognised by law to carry out railway services.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>